// Mixins

@mixin sprite($icons_path, $class, $width, $height) {
  $icons: sprite-map($icons_path);
  [class*="#{$class}-"] {
    background: $icons no-repeat;
    width: $width;
    height: $height;
  }
  @each $i in sprite_names($icons) {
    .#{$class}-#{$i} {
      background-position: sprite-position($icons, $i);
    }
  }
}

@mixin triangle($direction, $color, $size) {

  @if $direction == "left" {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "right" {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "up" {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $direction == "down" {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }

  height: 0;
  width: 0;
}
