<section class="element panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Treatment</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="procedure-right" class="col-xs-4 control-label">Procedures:</label>
          <div class="col-xs-8">
            <procedure-selection data-id="procedure-right" data-side="rightEye"></procedure-selection>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="procedure-left" class="col-xs-4 control-label">Procedures:</label>
          <div class="col-xs-8">
            <procedure-selection data-id="procedure-left" data-side="leftEye"></procedure-selection>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
