<section class="element form">
  <h2>Treatment</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="procedure-right" class="col-xs-4 control-label">Procedures:</label>
        <div class="col-xs-8">
          <procedure-selection data-name="procedureRight" data-id="procedure-right" data-side="rightEye" ng-model="procedures"></procedure-selection>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="procedure-left" class="col-xs-4 control-label">Procedures:</label>
        <div class="col-xs-8">
          <procedure-selection data-name="procedureLeft" data-id="procedure-left" data-side="leftEye" ng-model="procedures"></procedure-selection>
        </div>
      </div>
    </div>
  </div>
</section>
