<div class="eye-side-marker"></div>
<div class="element-content dotted-bottom">
  <div class="form-group row" id="joyride-acuity">
    <div class="col-xs-12">
      <div class="checkbox-wrapper">
        <input type="checkbox">
        <label for="">Unable to assess</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox">
        <label for="">Eye missing</label>
      </div>
    </div>
    <!-- <div class="col-xs-6">

    </div> -->
  </div>
</div>
<div class="element-content">
  <div class="row label-row">
    <div class="col-xs-2">
      <label for="" class="label-top">Score</label>
    </div>
    <div class="col-xs-6">
      <label for="" class="label-top">Correction</label>
    </div>
  </div>
  <div class="form-group row" ng-repeat="am in model.readings">
    <div class="col-xs-2">
      <select class="form-control" ng-model="model.readings[$index].value" ng-options="m as m for m in measurements">
        <option value="">--Please select--</option>
      </select>
    </div>
    <div class="col-xs-6">
      <select class="form-control" ng-model="model.readings[$index].correction" ng-options="c as c for c in corrections">
        <option value="">--Please select--</option>
      </select>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-remove" ng-click="removeRow($index)"></button>
    </div>
  </div>
  <button class="btn btn-add" type="button" ng-click="addRow()">Add another score</button>
</div>
