<div class="element-top-right selection-component" ng-class="{open: openSelection}" tabindex="-1" ng-blur="exitField()">
  <div class="selection-controls">
    <button class="btn-list" type="button" ng-click="openSelection = true"><span class="glyphicon glyphicon-plus"></span>Add an allergy</button>
    <input type="text" ng-model="filterText" ng-blur="exitField()" placeholder="Search...">
  </div>
  <ul class="selection-list">
    <li class="selection-item" ng-click="addAllergy(a)" ng-repeat="a in allergies | filter:filterText | orderBy:'toString()'">
      {{ a }}<span class="glyphicon glyphicon-plus"></span>
    </li>
  </ul>
</div>
<div class="form-group row" id="joyride-allergies" ng-show="model.allergies.length">
  <div class="col-xs-12">
    <!-- <button class="btn-tag">Latex<span class="glyphicon glyphicon-remove"></span></button> -->
    <button class="btn-tag" ng-click="removeRow(a)" ng-repeat="a in model.allergies | orderBy:'name'">{{ a.name }}<span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>
