<div class="form-group row">
  <label class="col-xs-4 control-label">
    Anaesthetic Type:
  </label>
  <div class="col-xs-8">
    <label class="radio-inline" ng-repeat="type in types">
      <input type="radio" ng-model="model.anaestheticType" ng-value="type.label" />
      {{type.label}}
    </label>
  </div>
</div>

<div class="form-group row">
  <label class="col-xs-4 control-label">
    Anaesthetic Delivery:
  </label>
  <div class="col-xs-8">
    <label class="radio-inline"  ng-repeat="delivery in deliveries">
      <input type="radio" ng-model="model.delivery" ng-value="delivery.label" />
      {{delivery.label}}
    </label>
  </div>
</div>

<div class="form-group row">
  <label class="col-xs-4 control-label">
    Anaesthetic Agent:
  </label>
  <div class="col-xs-8">
    <select class="form-control" ng-model="selectedAgent" ng-options="obj.label for obj in agents | orderBy:'label'"></select>
  </div>
</div>
