<!-- case class AnaestheticSide (anaestheticType: String, delivery: String, agent: String) -->
<div class="clearfix">
  <div class="col-eye-side">
    <div class="eye-side-marker"></div>
    <div class="element-content">
      <table class="table view-table">
        <tr><th>Type</th><th>Delivery</th><th>Agent</th></tr>
        <tr>
          <td>{{ model.rightEye.anaestheticType }}</td><td>{{ model.rightEye.delivery }}</td><td>{{ model.rightEye.agent }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-eye-side">
    <div class="eye-side-marker"></div>
    <div class="element-content">
      <table class="table view-table">
        <tr><th>Type</th><th>Delivery</th><th>Agent</th></tr>
        <tr>
          <td>{{ model.leftEye.anaestheticType }}</td><td>{{ model.leftEye.delivery }}</td><td>{{ model.leftEye.agent }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
