<div class="form-group row">
  <label class="col-xs-4 control-label">
    Complications:
  </label>
  <div class="col-xs-8">
    <select class="form-control" data-placeholder="Select complications..." chosen multiple ng-model="temp.complications" ng-options="obj.label for obj in complications | orderBy: 'order'">
    </select>
  </div>
</div>

<div class="form-group row" ng-if="otherSelected()">
  <label class="col-xs-4 control-label">
    Other description:
  </label>
  <div class="col-xs-8">
    <textarea ng-model="model.otherDescription" class="form-control" rows="3" placeholder="Enter other description..."></textarea>
  </div>
</div>
