<form class="form-horizontal" name="form">
</form>

<!-- Modal -->
<div class="modal fade modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          <p>{{ stepNameShort }} complete.</p>
        </div>

        <button class="btn btn-confirm" ng-click="backToPatientList()" id="joyride-modal-button">Select next patient</button>
      </div>
    </div>
  </div>
  <oe-hidden-button ng-click="backToMenu()" class="btn btn-lg primary-btn hidden-btn">Back to Menu</oe-hidden-button>
</div>
