<header class="header-main">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/#try-section">OpenEyes</a>
        <span class="title" ng-show="workflow.site && step.name">
          <!-- {{ workflow.site }} -->
           - {{ step.name }}
        </span>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{ 'has-icon': true, active: isActive('/search') }">
            <a href="/#/search" ng-click="$event.preventDefault()">
              <span class="glyphicon glyphicon-search"></span>
              <span class="text-hide">Patient Search</span>
            </a>
          </li>
          <li ng-show="step && step.role" class="navbar-role">
            <a href="#" ng-click="$event.preventDefault()">
              Hello, {{step.role}} <span class="caret"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
