<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">OpenEyes</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{ active: isActive('/search') }">
            <a href="/#/search">
              <span class="icon-search">Patient Search</span>
            </a>
          </li>
          <li>
            <a href="#" ng-click="$event.preventDefault()">
              Hello, OPTOMOTRIST <span class="caret"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
