<div class="form-group row">
	<div class="col-xs-2">
		<select class="form-control" ng-model="historySlug" ng-options="obj.label for obj in slugs.history | orderBy:'label'" ng-change="addSlug(historySlug, 'historySlug')">
			<option value="">--History--</option>
		</select>
	</div>
	<div class="col-xs-2">
		<select class="form-control" ng-model="severitySlug" ng-options="obj.label for obj in slugs.severity | orderBy:'label'" ng-change="addSlug(severitySlug, 'severitySlug')">
			<option value="">--Severity--</option>
		</select>
	</div>
	<div class="col-xs-2">
		<select class="form-control" ng-model="onsetSlug" ng-options="obj.label for obj in slugs.onset | orderBy:'label'" ng-change="addSlug(onsetSlug, 'onsetSlug')">
			<option value="">--Onset--</option>
		</select>
	</div>
	<div class="col-xs-2">
		<select class="form-control" ng-model="eyeSlug" ng-options="obj.label for obj in slugs.eye | orderBy:'label'" ng-change="addSlug(eyeSlug, 'eyeSlug')">
			<option value="">--Eye--</option>
		</select>
	</div>
	<div class="col-xs-2">
		<select class="form-control" ng-model="durationSlug" ng-options="obj.label for obj in slugs.duration | orderBy:'label'" ng-change="addSlug(durationSlug, 'durationSlug')">
			<option value="">--Duration--</option>
		</select>
	</div>
</div>
<div class="form-group row">
	<div class="col-xs-12">
		<textarea ng-model="model.history" name="" id="" cols="140" rows="5" placeholder="Enter comments here"></textarea>
	</div>
</div>