<div class="form-group row">
  <div class="col-xs-4">
    <span class="control-label">Treatment:</span>
  </div>
  <div class="col-xs-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="no-treatment" ng-model="model.noTreatment" />
        No treatment
      </label>
    </div>
  </div>
</div>

<div ng-show="model.noTreatment">

  <div class="form-group row">
    <label class="col-xs-4 control-label">Reason for no treatment:</label>
    <div class="col-xs-8">
      <select ng-model="model.reasonForNoTreatment" ng-options="obj.label for obj in noTreatmentReasons | orderBy:'order'" class="form-control"></select>
    </div>
  </div>

  <div class="form-group row" ng-show="model.reasonForNoTreatment.other">
    <label class="col-xs-4 control-label">Please provide other reason for no treatment:</label>
    <div class="col-xs-8">
      <textarea ng-model="model.reasonForNoTreatmentOther" class="form-control" rows="3"></textarea>
    </div>
  </div>

</div>

<div ng-show="!model.noTreatment">
  <div class="form-group row">
    <label class="col-xs-4 control-label">
      Diagnosis:
    </label>
    <div class="col-xs-8">
      <diagnosis-selection ng-model="diagnosis"></diagnosis-selection>
    </div>
  </div>
  <div class="form-group row" ng-show="diagnosis && diagnosis.hasSecondary">
    <label class="col-xs-4 control-label">
      Secondary to:
    </label>
    <div class="col-xs-8">
      <diagnosis-selection ng-model="secondaryDiagnosis" secondary-to="diagnosis"></diagnosis-selection>
    </div>
  </div>

  <injection-questions diagnosis="diagnosis" secondary-to-diagnosis="secondaryDiagnosis"></injection-questions>

  <div class="form-group row">
    <label class="col-xs-4 control-label">
      Intended Treatment:
    </label>
    <div class="col-xs-8">
      <select
        ng-model="model.treatment"
        ng-options="treatment.label for treatment in treatments | orderBy:'order'"
        >
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-4 control-label">
      Risks:
    </label>
    <div class="col-xs-8">
      <risks-selection></risks-selection>
    </div>
  </div>

</div>


