<div class="row">
	<div class="col-md-12">
		<label for="site">Site:</label> 
		<select name="site" id="" ng-model="selectedSite" ng-change="siteSelected()" ng-options="site.label for site in sites | orderBy:'label'">
		</select>
		<p>Please select a site to see the list of available lasers.</p>
	</div>
	<div class="col-md-12">
		<label for="laser">Laser:</label> 
		<select name="laser" id="" ng-model="selectedLaser" ng-change="laserSelected()" ng-options="laser.label for laser in lasers | orderBy:'label'">
		</select>
	</div>
	<div class="col-md-12">
		<label for="laser">Laser operator:</label> 
		<select name="laser" id="" ng-model="selectedOperator" ng-change="operatorSelected()" ng-options="o.firstName + ' ' + o.surname for o in operators | orderBy:'surname'">
		</select>
	</div>
</div>