<nav class="navbar navbar-default navbar-fixed-top scrollspy-nav" role="navigation">
<!--   <div class="nav-border"></div> -->
  <div class="container-fluid">

    <div class="nav-wrapper">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-pres">
          <li class="active"><a href="#intro-section" id="intro" ng-click="setActiveSlide($event)">Intro</a></li>
          <li><a href="#tech-section" id="tech" ng-click="setActiveSlide($event)">Architecture</a></li>
          <li><a href="#benefits-section" id="benefits" ng-click="setActiveSlide($event)">Benefits</a></li>
          <li><a href="#workflow-section" id="workflow" ng-click="setActiveSlide($event)">Workflow</a></li>
          <li><a href="#try-section" ng-click="setActiveSlide($event)">Try it out</a></li>
        </ul>
      </div>
      <div class="navbar-header pull-right">
        <a class="navbar-brand-pres" href="#">Moorfields Eye Hospital</a>
      </div>
    </div>
  </div>
</nav>

