<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right navbar-pres">
        <li class="active"><a href="#intro-section" id="intro" ng-click="setActiveSlide($event)">Intro</a></li>
        <li><a href="#problems-section" id="problems" ng-click="setActiveSlide($event)">Problems</a></li>
        <li><a href="#tech-section" id="tech" ng-click="setActiveSlide($event)">Tech</a></li>
        <li><a href="#workflow-section" id="workflow" ng-click="setActiveSlide($event)">Workflow</a></li>
        <li><a href="#try-section" ng-click="setActiveSlide($event)">Try it out</a></li>
      </ul>
    </div>
    <div class="navbar-header pull-right">
      <a class="navbar-brand-pres" href="#">Moorfields Eye Hospital</a>
    </div>
  </div>
</nav>

