<div class="retinal-scans">
  <div class="img-viewer element-box">
    <h3>
      BSCAN X Plane
    </h3>
    <a class="img" href="#" ng-style="style">
    </a>
    <ul class="thumbnails">
      <li ng-repeat="img in images">
        <a href="#" ng-click="$event.preventDefault();select(img)" style="background-image:url('{{img}}');" ng-class="{ selected: img === selectedImage }">
        </a>
      </li>
    </ul>
  </div>
  <table class="table table-plain report-data">
    <tbody>
      <tr>
        <th scope="row">Maximum central retinal thickness of</th>
        <td><span class="highlight">{{crt}}</span></td>
      </tr>
      <tr>
        <th scope="row">Central Subfocus thickness of</th>
        <td><span class="highlight">{{st}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
