<!-- NOTE: we're using ng-if to show/hide tabs to force the directives to re-initiate as
the UI components rely on the elements being visible -->


<ul class="nav nav-tabs oct-nav-tabs" role="tablist">
  <li>
    <a href="#oct-right" role="tab" data-toggle="tab" class="oct-right-eye">
      <span class="tab-shadow-right tab-shadow"></span>
      <span class="icon-oct-eye"></span>
      Right eye OCT Scan
    </a>
  </li>
  <li>
    <a href="#oct-left" role="tab" data-toggle="tab" class="oct-left-eye">
      <span class="tab-shadow-left tab-shadow"></span>
      <span class="icon-oct-eye"></span>
      Left eye OCT scan
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="oct-right">
    <div class="row" ng-if="hasSelected(0)">
      <div class="col-xs-6" id="joyride-topcon">
        <oe-oct-report-view data-side="rightEye"></oe-oct-report-view>
      </div>
      <div class="col-xs-6" id="joyride-dicom">
        <oe-oct-slices-view data-side="rightEye"></oe-oct-slices-view>
      </div>
      
    </div>
  </div>
  <div class="tab-pane" id="oct-left">
    <div class="row" ng-if="hasSelected(1)">
      <div class="col-xs-6">
        <oe-oct-report-view data-side="leftEye"></oe-oct-report-view>
      </div>
      <div class="col-xs-6">
        <oe-oct-slices-view data-side="leftEye"></oe-oct-slices-view>
      </div>
    </div>
  </div>
</div>


