<div class="container-fluid patient-list-container">
  <div class="row">
    <div class="col-xs-12 patient-list">
      <div class="patient-list-table-container">
        <table class="table patient-list-table">
          <tbody>
            <tr ng-repeat="ticket in tickets" ng-click="start($event, ticket)">
              <td class="patient-time text-center">{{ ticket.appointmentTime | date:'HH:mm'}}</td>
              <td class="col-xs-6 " id="joyride-{{$index}}">
                <img ng-src="/images/profiles/{{ticket.patient.gender == 'Female' ? 1 : 4}}.png" alt="Chay Close" class="patient-pic" />
                <span class="patient-name">
                  <strong class="ng-binding">{{ ticket.patient.surname }},</strong> {{ ticket.patient.firstName }} ({{ ticket.patient.title }})
                </span>
              </td>
              <td class="col-xs-6">
                <ul class="patient-details-list">
                  <li><strong>Born</strong> {{ ticket.patient.dob }} ({{ getAge(ticket.patient.dob) }}y)</li>
                  <li class="gender"><strong>Gender</strong> ({{ ticket.patient.gender.slice(0,1) }})</li>
                  <li><strong>NHS No.</strong> {{ ticket.patient.nhsNumber }}</li>
                </ul>
                <a class="patient-start" href="#" ng-click="start($event, ticket)"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="#" class="patient-list-close" ng-click="close($event)">
        Close
      </a>
    </div>
  </div>
</div>


