<div class="patient-summary" ng-if="patient.firstName">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1 appointment-time">
        <a href="#">
          <time class="time">
            10:15
            <span class="time-period">am</span>
          </time>
        </a>
      </div>
      <div class="col-xs-11 patient-info">
        <div class="patient-pic">
          <img src="/images/profiles/gladys.png" />
        </div>
        <div class="patient-overview">
          <div class="patient-name">
            <a ng-href="/#/patient/{{ patientId }}">
              <strong>{{ patient.surname | uppercase }},</strong> {{ patient.firstName }} (Mrs)
            </a>
          </div>
          <div class="patient-allergies" ng-show="allergies.length">
            <span class="notification">!</span>
            <strong>Allergies</strong>
            <span ng-repeat="allergy in allergies">
              {{ allergy.name }}<span ng-show="{{ $index !== allergies.length - 1 }}">,</span>
            </span>
          </div>
        </div>
        <div class="patient-details">
          <ul class="details">
            <li><strong>Born</strong> {{ patient.dob }} ({{ age() }}y)</li>
            <li><strong>Gender</strong> ({{ patient.gender.slice(0,1) }})</li>
            <li><strong>NHS No.</strong> {{ patient.nhsNumber }}</li>
          </ul>
          <a href="#" class="btn btn-default">View History</a>
        </div>
      </div>
    </div>
  </div>
</div>
