<section class="element panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Patient Summary</h3>
  </div>
  <div class="panel-body">
    <div class="row" ng-if="patient.firstName">
      <div class="col-xs-3">
        {{ patient.surname | uppercase }},
        {{ patient.firstName }}
      </div>
      <div class="col-xs-3">
        Born: {{ patient.dob }} ({{ age() }}y)
      </div>
      <div class="col-xs-3">
        Gender: {{ patient.gender }}
      </div>
      <div class="col-xs-3">
        NHS No.: {{ patient.nhsNumber }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a ng-href="/#/patient/{{ patientId }}">View patient summary</a>
      </div>
    </div>
  </div>
</section>
