<oe-barcode-scan model="scanValue"></oe-barcode-scan>

<div class="form-group row">
  <label for="batch-number-{{side}}" class="col-xs-4 control-label">Batch Number:</label>
  <div class="col-xs-8">
    <input
      type="text"
      class="form-control"
      id="batch-number-{{side}}"
      ng-model="model.batchNumber"
      />
  </div>
</div>

<div class="form-group row">
  <label for="batch-expiry-date-{{side}}" class="col-xs-4 control-label">Batch Expiry Date:</label>
  <div class="col-xs-8">
    <input
      type="date"
      class="form-control"
      id="batch-expiry-date-{{side}}"
      ng-model="model.batchExpiryDate"
      />
  </div>
</div>

<div class="form-group row">
  <label for="injection-person-{{side}}" class="col-xs-4 control-label">Injection Given By:</label>
  <div class="col-xs-8">
    <select
      class="form-control"
      id="injection-person-{{side}}"
      ng-model="injectionGivenBy"
      ng-options="obj.label for obj in injectionPersonnel | orderBy:'label'"
      >
    </select>
  </div>
</div>
