<div class="help-block" ng-show="hasError()">
	<span ng-show="hasError('required')">This field is required.</span>
	<span ng-show="hasError('minlength')">This field is not long enough.</span>
	<span ng-show="hasError('maxlength')">This field is too long.</span>
	<span ng-show="hasError('pattern')">This field is not in the correct format.</span>

	<!-- Alternate approach if/when we upgrade to 1.3: -->
<!-- <div class="help-block" ng-show="form.name.$error">
	<span ng-message="required">This field is required.</span>
	<span ng-message="minlength">This field is not long enough.</span>
	<span ng-message="maxlength">This field is too long.</span>
	<span ng-message="pattern">This field is not in the correct format.</span>
</div> -->
</div>



