<section class="element view">
  <h2>Treatment</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="row" ng-if="event.rightEye.procedures && event.rightEye.procedures.length">
        <div class="col-xs-4">Procedures:</div>
        <div class="col-xs-8">
          <ul>
            <li ng-repeat="procedure in event.rightEye.procedures">{{procedure.label}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row" ng-if="event.leftEye.procedures && event.leftEye.procedures.length">
        <div class="col-xs-4">Procedures:</div>
        <div class="col-xs-8">
          <ul>
            <li ng-repeat="procedure in event.leftEye.procedures">{{procedure.label}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
