// Buttons

.btn {
  &.btn-new {
    background: #3bc0c3;
    border-radius: 30px;
    border-color: transparent;
    color: #ffffff;
    font-size: 15px;
    line-height: 17px;
    padding: 12px 30px;
    &:hover {
      background: #31a7aa;
    }
    .caret {
      border-top: 8px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      margin-left: 4px;
    }
    [class^="icon-"] {
      margin-left: -10px;
      margin-right: 10px;
    }
  }
}

.workflow-btn {
  float: left;
  clear: left;
  margin-bottom: 15px;
  border-radius: 30px;
  background-color: #3fb9eb;
  border: 0;
}
