// Buttons

.btn {
  &.btn-new {
    background: #3bc0c3;
    border-radius: 30px;
    border-color: transparent;
    color: #ffffff;
    font-size: 15px;
    line-height: 17px;
    padding: 13px 30px;
    &:hover {
      background: #31a7aa;
    }
    .caret {
      border-top: 8px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      margin-left: 4px;
    }
    [class^="icon-"] {
      margin-left: -10px;
      margin-right: 10px;
    }
  }
}

.block-button {
  background-color: #31a7aa;
  border-color: #31a7aa;
  border-radius: 0;
  display: block;
  font-size: 26px;
  padding: 20px;
  width: 100%;

  &:hover {
    background-color: #3bc0c3;
    border-color: #3bc0c3;
  }
}

.btn-primary {}

.btn-add,
.btn-remove {
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-add {
  background-color: transparent;
  color: #506470;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;

  &:hover {
    color: #62d4dd;
  }
  &:before {
    content: '+';
    color: #62d4dd;
    font-size: 24px;
    padding: 5px 5px 5px 0;
  }
}

.btn-remove {
  height: 28px;
  margin-top: 3px;
  width: 27px;
  background:transparent image-url('icons/forms/delete.png') center 100% no-repeat;

  &:hover {
    background-position: center top;
  }
}

.btn-lg{
  font-size: 20px;
  padding: 12px 30px 9px;
}

.btn-tag {
  padding: 8px 30px 8px 20px;
  border: 0;
  border-radius: 30px;
  background-color: #f05050;
  color: #fff;
  margin-right: 15px;
  position: relative;

  &:active,
  &:focus,
  &:active:focus {
    outline: none;
  }

  &:hover {
    background-color: #cb3d3d;
    color: #fff;
    text-decoration: none;

    > span {
      color: #aa3737;
    }
  }

  > span {
    color: #c64040;
    position: absolute;
    right: 12px;
    top: 13px;
    font-size: 12px;
  }
}

.btn-list {
  padding: 7px 20px 7px 20px;
  border: 1px solid #b6c2c9;
  border-radius: 30px;
  background-color: #fff;
  color: #31a7aa;

  &:hover {
    background-color: #31a7aa;
    border-color: #31a7aa;
    color: #fff;
  }

  span {
    margin-left: -5px;
    margin-right: 5px;
  }
}

.workflow-btn {
  float: left;
  clear: left;
  margin-bottom: 15px;
  border-radius: 30px;
  background-color: #00bdcb;
  border: 0;
  padding-right: 15px;
  .caret{
    color: #fff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 8px solid;
    margin-left: 10px;
  }
  &:hover{
    background-color: #31a7aa
  }
}



.api-btn {
  float: left;
  clear: left;
  margin-bottom: 15px;
  border-radius: 30px;
  background-color: #becfdb;
  border: 2px solid #becfdb;
  color: #fff;
  padding-right: 15px;
  .caret{
    color: #fff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 8px solid;
    margin-left: 15px;
  }
  &:hover{
    background-color: #31a7aa;
    border: 2px solid #31a7aa;
  }
}

.hidden-btn{
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1051;
  background: #3bc0c3;
  border-radius: 30px;
  border-color: transparent;
  color: #ffffff;
  opacity: 0;
}
.hidden-btn:hover{
  opacity: 1;
  color: #ffffff;
}
