// Chosen multi-select

.chosen-container-multi {
  .chosen-choices {
    @extend .form-control;
    min-height: 34px !important;
    padding: 0;
    li.search-field {
      input[type="text"] {
        height: 30px;
      }
    }
    li.search-choice {
      margin-top: 5px;
    }
  }
}

select[chosen] {
  width: 100%;
}

.chosen-container {
  width: 100% !important;
}

