// Event Elements

.element {
  border: 1px solid $border-gray;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 25px;
  &.no-padding {
    padding: 0;
    > h2 {
      margin: 0;
    }
  }
  > h2 {
    background: linear-gradient(#ffffff 0%, #fafafa 100%);
    border-bottom: 1px solid $border-gray;
    padding: 10px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }

  select.form-control {
    background: image-url('icons/down-arrow.png'), linear-gradient(#ffffff 0%, #f5f6f8 50%, #f0f3f5 100%); /* Chrome10+,Safari5.1+ */
    background-repeat: no-repeat;
    background-position: 100% 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .checkbox-wrapper {
    float: left;

    & + .checkbox-wrapper {
      margin-left: 50px;
    }
  }

  input[type=checkbox] {

  }

  input[type=checkbox] + label {
    color: #4a4a4a;
    font-weight: normal;
    padding-left: 3px;
  }


  .element-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .element-content + .element-content {
    margin-top: 20px;
  }

  > .row {
    > .col-xs-6 {
      &:first-child {
        // border-right: 1px solid #dce1e4;
      }
    }
  }

  &.treatment {
    ul {
      padding-left: $grid-gutter-width / 2;
    }
  }
}

.element-box {
  border: 1px solid #cbd4d9;
  width: 562px;
  h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 18px 0 18px 26px;
  }
}



.label-top {
  display: block;
}


// Sided element styles

.sided-container {

  padding-bottom: 0;

  h2 {
    margin-bottom: 0;
  }
}

.eye-side-marker {
  background-color: #f2f4f5;
  height: 25px;
  margin:1px 1px 30px 1px;
  position: relative;
  &:after {
    background: transparent image-url('icons/forms/left-eye.png') center center no-repeat;
    content: '';
    display: block;
    position: absolute;
    width: 53px;
    height: 35px;
    top: 7px;
    left: 50%;
    margin-left: -15px;
  }
}

.eye-side-marker + .element-content {
  padding-top: 20px;
}

.eye-side-marker + .dotted-bottom {
  padding-top: 0;
}

.col-eye-side:first-child .eye-side-marker:after {
  background-image: image-url('icons/forms/right-eye.png');
}

.col-eye-side {
  box-sizing: border-box;
  float: left;
  padding-bottom: 25px;
  width: 50%;

  &:first-child {
    border-right: 1px solid #c9d3da;
  }

}

.dotted-bottom {
  border-bottom: 1px dotted #c9d3da;
  padding-bottom: 15px;
}


canvas + input[type=text] {
  visibility: hidden;
}

.view-1-2 {
  width: 49%;
  float: left;
  min-height: 168px;
  margin-right: 1%;
}

.view-right {
  margin-left: 1%;
  margin-right: 0;
}

.icon-right-eye,
.icon-left-eye {
  background: transparent image-url('icons/forms/right-eye.png') center center no-repeat;
  display: block;
  width: 53px;
  height: 35px;
}

.icon-left-eye {
  background-image: image-url('icons/forms/left-eye.png');
}


.padded-table {

  margin-top: -30px;

  .icon-right-eye,
  .icon-left-eye {
    float: left;
  }

  .header-row {
    background-color: #eff2f3;
  }

  tr,
  .header-row + tr > td,
  td:first-child,
  td:last-child,
  th {
    border-top: 0 !important;
  }

  td {
    border-top: 1px dashed #c9d3da !important;
  }

  th,
  td {
    text-align: center;
  }

}

.view-table {
  td {
    border-top-color: #c3eaec !important;
  }

}

.col-btn-remove{
  padding-left: 0;
}
