.search-form {
	margin: 20px 0;
}

@media (min-width: 0) {
	.form-horizontal .control-label {
		text-align: left;
	}
}


legend {
	&.control-label {
		@extend label;
		border: 0;
		font-size: inherit;
	}
}

// Validation states
.form-control {
	&.ng-invalid {

	}
}

form {
	&.ng-invalid {
		// background: red;
	}
}
