// Image icons sprites

$oe-sprite-icons-large: "icons/large/*.png";
$oe-sprite-icons-tab: "icons/tabs/*.png";

[class^="icon-"] {
  @include text-hide;
  display: inline-block;
  vertical-align: middle;
}

@include sprite($oe-sprite-icons-large, "icon-lg", 35px, 35px);
@include sprite($oe-sprite-icons-tab, "icon-tab", 53px, 35px);
@include sprite($oe-sprite-icons-medium, "icon-md", 28px, 20px);

// CSS icons from here


.notification {
  background: #ec4867;
  border-radius: 12px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 24px;
  position: relative;
  text-align: center;
  width: 24px;
}
