// Image viewer

.img-viewer {
  .img {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 400px;
    margin: 7px;
    position: relative;
    width: 546px;
  }
  .thumbnails {
    @extend .clearfix;
    border-top: 1px solid #cbd4d9;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 7px 0 7px 7px;
    }
    a {
      background-size: 100%;
      background-position: center center;
      border: 1px solid #edf1f2;
      display: block;
      height: 64px;
      width: 85px;
      &.selected {
        outline: 2px solid #32abae;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          width: 33px;
          height: 16px;
          background: image-url("icons/tip.png") no-repeat;
          margin-left: -16px;
          left: 50%;
          top: -24px;
        }
      }
    }
  }
}
