//JOYRIDE OVERRIDE - Removes the curtain. ID specificity means that 
//it can't be removed with the joyride curtain custom class option. 

#ng-curtain{
  background: transparent;
}

.joyride-txt{
	display: block;
	color: #595959 !important;
}

#pop-over-text{
	padding: 8px 16px 0;
}

.ng-joyride.popover{
	z-index: 20000;
	font-size: 14px;
	width: 340px;
	max-width: 320px;
	padding: 0;
	border: 0;
	background: #e7f6fd;
	border: 1px solid #a2d1e5;
}

.ng-joyride-element-non-static, .ng-joyride-element-static{
	box-shadow: none !important;
	position: static;
	z-index: 2;
}

.form-group.row.ng-joyride-element-static, 
#joyride-history-title, #joyride-workflow,
.element-box.ng-joyride-element-static,
.barcode-scan.ng-joyride-element-static,
.element.form.ng-joyride-element-static{
	background: none
}

.ng-joyride a{
	color: #34a0c4;
	font-size: 16px;
	i{
		font-size: 22px;
		color: #34a0c4;
		top: 4px;
		left: 4px;
	}
}

.ng-joyride hr{
	border-top: 1px solid #34a0c4;
}

.ng-joyride h3.popover-title{
	background: none;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", Helvetica, arial;
	font-size: 20px;
	padding: 16px 18px;
	color: #34a0c4;
}

.ng-joyride.popover .popover-content{
	padding: 16px 18px;
	width: auto;
}

.ng-joyride .btn{
	border-radius: 22px !important;
	padding: 2px 12px;
	font-weight: bold;
	font-size: 16px;
}

.ng-joyride .btn.nextBtn{
	background: #34a0c4;
	border: 2px solid #34a0c4;
	color: #fff;
}

.ng-joyride .btn.prevBtn{
/*	background: #fff;
	border: 2px solid #b6c2c9;
	color: #31a7aa;*/
	display: none;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
	font-family: none;
	width: 6px;
	height: 7px;
	top: -1px;
	border: 0;
}

.glyphicon-chevron-right{
	background: url(../images/presentation/icon-next.png) no-repeat 0 0;
	margin-left: 5px;
}

.glyphicon-chevron-left{
	background: url(../images/presentation/icon-prev.png) no-repeat 0 0;
	margin-right: 5px;
}


.glyphicon-chevron-right:before, .glyphicon-chevron-left:before{
	content: "";
}

.ng-joyride .popover-content .col-md-4{
	padding: 0 0 0 11px;
	width: 25%;
}
.ng-joyride .popover-content .col-md-8{
	width: 75%;
	padding: 0 15px 0 0;
}

.ng-joyride.popover.bottom > .arrow:after{
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #e7f6fd;
}

.ng-joyride.popover.top > .arrow:after{
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: #e7f6fd;
}

.ng-joyride.popover.left > .arrow:after{
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: #e7f6fd;
}

.ng-joyride.popover.right > .arrow:after{
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #e7f6fd;
}

