//JOYRIDE OVERRIDE - Removes the curtain. ID specificity means that 
//it can't be removed with the joyride curtain custom class option. 

#ng-curtain{
  background: transparent;
}

.joyride-txt{
	display: block;
	color: #333 !important;
}

.ng-joyride.popover{
	z-index: 20000;
	font-size: 14px;
}

.ng-joyride-element-non-static, .ng-joyride-element-static{
	box-shadow: none !important;
	position: static;
	z-index: 2;
}

.form-group.row.ng-joyride-element-static, 
#joyride-history-title, #joyride-workflow,
.element-box.ng-joyride-element-static,
.barcode-scan.ng-joyride-element-static,
.element.form.ng-joyride-element-static{
	background: none
}
