//JOYRIDE OVERRIDE - Removes the curtain. ID specificity means that 
//it can't be removed with the joyride curtain custom class option. 

#ng-curtain{
  background: transparent;
}

.joyride-txt{
	display: block;
}

.ng-joyride.popover{
	z-index: 20000;
	font-size: 14px;
}

.ng-joyride-element-non-static{
	box-shadow: none !important;
	background: none;
	position: static;
}