// NavBar

.navbar {
  border: 0;
}

.navbar-brand {
  @include text-hide;
  background: image-url("openeyes-logo.png") no-repeat center center;
  width: 160px;
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 15px;
    }
  }
}

.navbar-nav {
  margin: 0 !important;
  > li {
    float: left !important;
    > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
