// NavBar

.navbar {
  border: 0;
  margin-bottom: 0;
  .title {
    color: #92a4b0;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: 15px;
    margin-top: 15px;
  }
}

.navbar-brand {
  @include text-hide;
  background: image-url("openeyes-logo.png") no-repeat center center;
  padding: 0;
  width: 160px;
  margin-left: 30px;
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container-fluid {
      padding: 0;
    }
    .navbar > .container-fluid & {
      margin-left: 15px;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    margin-right: -($grid-gutter-width / 2);
  }
}

.navbar-nav {
  li {
    border-left: 1px solid #3a4b5a;
    a {
      font-size: 16px;
    }
  }
  > li {
    > a {
      padding: 18px;
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li > a {
      font-weight: 200;
    }
  }
}
