// Page body

.page-body {
  @extend .clearfix;
  border: 1px solid #c9d3da;
  background: #fff;
  padding: 30px 106px;
  .page-encounter & {
    padding-left: 0;
    padding-right: 0;
  }
}

.main {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 83px;
  margin-bottom: 25px;
  .page-encounter & {
    margin-top: 222px;
    @media (max-width: $screen-lg) {
      margin-top: 300px;
    }
  }
}






