// Page body
body{
  position: relative;
}


.page-body {
  @extend .clearfix;
  // border: 1px solid #c9d3da;
  // background: #fff;
  padding: 0px 106px;
  .page-encounter & {
    padding-left: 0;
    padding-right: 0;
  }
}

.main {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  .page-encounter & {
/*    margin-top: 200px;*/
 /*   @media (max-width: $screen-lg) {}*/
  }
}






