// Patient Summary

// [class*="col-"] {
//   outline: 1px solid red;
// }

body.has-patient-summary {
  .page-body {
    margin-top: 159px;
  }
}

.patient-summary {
  left: 0;
  position: fixed;
  top: 58px;
  width: 100%;
  z-index: 1000;
  .row {
    background: #fff;
    border-bottom: 1px solid #c9d3da;
  }
  .appointment-time {
    background: #e3f7f9;
    color: #02abb8;
    display: block;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    font-weight: 600;
    &:hover {
      color: #ddd;
    }
  }
  .patient-pic {
    margin-top: 22px;
  }
  .patient-overview {
    margin-top: 30px;
  }
  .patient-details-list {
    margin-top: 40px;
  }
  .view-history {
    margin-top: 26px;
    float: left;
  }
}

.patient-pic {
  border-radius: 30px;
  border: 1px solid #fff;
  float: left;
  height: 60px;
  margin-left: 15px;
  width: 60px;
}

.patient-overview {
  float: left;
  margin-left: 10px;
  position: relative;
}

.patient-name {
  color: $text-color;
  display: block;
  font-size: 30px;
}

.patient-allergies {
  color: #ec4867;
  position: absolute;
  bottom: -15px;
  left: -28px;
  .notification {
    margin-right: 3px;
  }
}

.patient-details-list {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  li {
    float: left;
    margin-right: 24px;
  }
}
