// Patient Summary

// [class*="col-"] {
//   outline: 1px solid red;
// }

.patient-menu-toggle{
  position: absolute;
  height: 100%;
  width: 105px;
  z-index: 3;
}

.patient-summary {
  .patient-pic {
    margin-top: 10px;
    margin-left: 105px;
  }

  .patient-details-list {
    margin-top: 36px;
  }
  .view-history {
    margin-top: 24px;
    margin-bottom: 24px;
    float: right;
  }
  .patient-list-open & {
    .container-fluid {
      // Account for lack of scrollbar to line up the patient details with the
      // details in the patient list.
      padding-right: 25px;
    }
  }
}

.patient-pic {
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  height: 70px;
  position: relative;
  width: 70px;
  z-index: 1;
}

.patient-overview {
  margin-left: 10px;
  margin-top: 20px;
}

.patient-name {

  // @media screen and (max-width: 1415px){
  //   font-size: 20px;
  // }

  color: $text-color;
  display: inline;
  font-size: 30px;
  margin-left: 5px;
}

.patient-allergies {

  // @media screen and (max-width: 1415px){
  //   top: -5px;
  // }

  color: #ec4867;
  left: -20px;
  // margin: 0 0 10px 170px;
  position: relative;
  top: -8px;
  z-index: 2;
  .notification {
    margin-right: 3px;
  }
}

.patient-summary .patient-details-list {

  @media screen and (max-width: 1300px){
    font-size: 13px;
    margin-top: 20px !important;
    padding-bottom: 18px;
  }

  li {
    @media screen and (max-width: 1300px){
      float: none;
      margin-bottom: 0;
    }
  }
}

.patient-details-list {

  font-size: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  li {

    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
    &.gender {
      width: 86px;
    }
  }
}

.patient-details {

  .btn.btn-new {
    // font-size: 13px;
    // padding: 8px 15px;
  }

}
