// Patient Summary

// [class*="col-"] {
//   outline: 1px solid red;
// }

.patient-menu-toggle{
  position: absolute;
  height: 100%;
  width: 105px;
}

.patient-summary {
  .patient-pic {
    margin-top: 22px;
  }

  .patient-details-list {
    margin-top: 44px;
  }
  .view-history {
    margin-top: 32px;
    margin-bottom: 16px;
    float: right;
  }
  .patient-list-open & {
    .container-fluid {
      // Account for lack of scrollbar to line up the patient details with the
      // details in the patient list.
      padding-right: 25px;
    }
  }
}

.patient-pic {
  border-radius: 30px;
  border: 1px solid #fff;
  float: left;
  height: 60px;
  margin-left: 105px;
  width: 60px;
}

.patient-overview {
  margin-left: 10px;
  margin-top: 30px;
}

.patient-name {
  color: $text-color;
  display: inline;
  font-size: 30px;
  margin-left: 16px;
}

.patient-allergies {
  color: #ec4867;
  margin:16px 0 16px 170px;
  .notification {
    margin-right: 3px;
  }
}

.patient-details-list {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  li {
    float: left;
    margin-right: 24px;
    margin-bottom: 12px;
    &.gender {
      width: 86px;
    }
  }
}
