.pres-wrapper {
  margin-top: 50px;

  .sub-section {
    margin: 0 auto 55px auto;
    width: 1040px;
    padding-top: 130px;
    padding-bottom: 175px;
    background: url(../images/presentation/icon-down-arrow.png) no-repeat center bottom;
    p, label, dd, dt, ul > li, label {
      font-size: 20px;
    }
    .check-box-label {
      font-size: 18px;
      font-weight: normal;
      input[type="checkbox"] {
        top: 3px;
      }
      margin-left: 15px;
  
    }
    dl{
      border-top: 1px solid #eee;
    }
    dt{
      padding-top: 10px;
    }
    dd{
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    .radio {
      float: left;
      margin-right: 15px;
      margin-top: 10px !important;
    }
    h2{
      font-size: 40px;
      margin-bottom: 50px;
      color: #0f6fb9;
    }
  }

  .target-architecture{
    padding-top: 50px;
    width: 1016px;
    margin: 0 auto;
    display: block;
  }

  .workflow-details, .architecture-details{
    li{
      padding: 5px;
    }
  }

  .clinic-location{
    margin-top: 50px;
  }

   .workflow-buttons{
    clear: both;
   }

  .clinic-controls{
    margin: 0 0 30px;
  }

  .workflow-btn{
    margin-bottom: 25px;
  }

  .api-btn{
    margin: 20px 0;
  }
  .guided-tour{
    padding-left: 0;
  }

  .last-section{
    background: none;
    padding-bottom: 500px;
  }

  .sub-section-wrapper{
    background: #fff;
  }

  .intro-wrapper{
    background: #f5f8f9;
  }

  .intro-details{
    list-style: none;
    margin: 50px 0;
    padding: 0;
    border-top: 1px solid #e8e8e8;
  }

  .clickable{
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    .glyphicon{
      font-size: 15px;
      color: #00bdcb;
      margin-left: -5px;
      margin-right: 10px;
    }
    .glyphicon:before {
      content: "\2212";
    }
    .detail-txt{
      font-weight: normal;
      display: block;
      margin-left: 20px; 
    }
  }

  .clickable.closed{
    .glyphicon:before {
      content: "\2b";
      
    }
    .detail-txt{
      display: none;
    }
  }

}

/*.hover-list{
  li{
    position: relative;
  }
  .hover-txt{
    z-index: 100;
    padding: 15px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: -20px;
    left: 20px;
    background: #ebf9ff;
    border: 1px solid #0f6fb9;
    color: #0f6fb9;

  }
  li:hover .hover-txt{
    display: block;
  }
}*/
