.pres-wrapper {
  margin-top: 50px;

  .sub-section {
    margin: 0 auto 55px auto;
    width: 1040px;
    padding-top: 130px;
    padding-bottom: 115px;
    background: url(../images/presentation/icon-down-arrow.png) no-repeat center bottom;
    p, label, dd, dt, ul > li {
      font-size: 20px;
    }
    p, label{
      color: #525252;
    }
    .check-box-label {
      font-size: 18px;
      font-weight: normal;
      input[type="checkbox"] {
        top: 3px;
      }
      margin-left: 15px;
    }
    .radio {
      float: left;
      margin-right: 15px;
      margin-top: 10px !important;
    }
    h2{
      font-size: 38px;
      margin-bottom: 40px;
      color: #128abb;
    }
  }

  .target-architecture{
    padding-top: 50px;
    width: 1016px;
    margin: 0 auto;
    display: block;
  }

  .workflow-details, .architecture-details{
    margin: 30px 0 0 -20px;
  }

  .workflow-details li{
    padding: 8px 0;
  }

  .clinic-location{
    margin-top: 50px;
  }

  .workflow-radio-btns{
    margin-top: 40px;
    padding-left: 16px;
  }
  .workflow-buttons{
    clear: both;
  }

  .clinic-controls{
    margin: 0 0 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .workflow-btn{
    margin-bottom: 25px;
  }

  .api-btn{
    margin: 45px 0;
  }
  .guided-tour{
    padding-left: 0;
  }

  .last-section{
    background: none;
    padding-bottom: 500px;
  }

  .sub-section-wrapper{
    background: #fff;
  }

  .odd-section-wrapper{
    background: #f5f8f9;
  }

  .intro-details{
    list-style: none;
    margin: 40px 0;
    padding: 0;
    border-top: 1px solid #e8e8e8;
  }

  .clickable{
    cursor: pointer;
    display: block;

    padding: 9px 9px 7px 9px;
    color: #00a9b5;
    border-bottom: 1px solid #e8e8e8;
    .glyphicon{
      font-size: 15px;
      color: #00a9b5;
      margin-left: -5px;
      margin-right: 10px;
    }
    .glyphicon:before {
      content: "\2212";
    }
    .detail-txt{
      padding: 9px 0 8px 0;
      display: block;
      margin-left: 20px; 
      color: #888;
      strong{
        font-weight: normal;
        color: #2a2a28;
      }
    }
  }

  .clickable.closed{
    .glyphicon:before {
      content: "\2b";
      
    }
    .detail-txt{
      display: none;
    }
  }

  .clinic-controls label{
    color: #00a9b5;
  }
  
  .workflow-buttons{
    padding-left: 20px;
    background: url("../images/presentation/workflow-border.png") 24px 0 no-repeat;
  }
  .workflow-item{
    width: 1000px;
    clear: both;
    margin: 20px 20px 20px 10px;
  }

  .workflow-button-wrapper{
    float: left;
    width: 800px;
  }

  .workflow-disc{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
  }
  .workflow-no{
    background: #fff;
    color: #becfdb;
    height: 40px;
    width: 40px;
    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
    box-shadow: inset 0 -1px 2px rgba(100,100,100,0.3);
    margin-top: 5px;
    margin-left: 5px;
    
  }
  .workflow-disc-border{
    margin: 0 10px 0 -30px;
    float: left;
    background: linear-gradient(#becfdb 0%, #fafafa 100%);
  }
}
