// Scaffolding

.page-body {
  border: 1px solid #c9d3da;
  background: #fff;
  margin-top: 108px;
  padding: 40px 45px;
  .has-patient-summary & {
    margin-top: 212px;
  }
  h1 {
    font-size: 30px;
    margin: 0 0 30px 0;
    padding: 0;
  }
}
