// Tabs

.nav-tabs {
  border-bottom: 1px solid #d8dfe3;
  > li {
    a {
      color: #0f1922;
      background: #e7ebed;
    }
    &.active {
      > a {
        &, &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

.check-tabs {
  background: #e7ebed;
  border: 0;
  // border-bottom: 1px solid $border-gray;
  > li {
    border-bottom: 1px solid $border-gray;
    label {
      background: #e7ebed;
      border: 0;
      border-right: 1px solid $border-gray;
      display: block;
      padding: 10px 15px 10px;
      position: relative;
      margin: 0;
    }
    a,
    a:hover {
      border: 0;
      border-radius: 0;
      border-right: 1px solid $border-gray;
      margin: 0;
    }
    &.active {
      border: 0;
      border-bottom: 1px solid #fff;
      a,
      a:hover {
        border: 0;
        border-right: 1px solid $border-gray;
      }
      &.empty-tab {
        border-bottom: 1px solid $border-gray;
      }
    }
  }
}

.tab-content {
  padding-top: 40px;
  &.check-tab-content {
    padding-top: 0;
    .element-content {
      border-top: 1px solid $border-gray;
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }
}
