// Tables

.table {
  width: 100%;
  tbody {
    tr {
      td[class*="col-"] {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
      }
    }
  }
  &.table-plain {
    th, td {
      border: 0;
    }
  }
  &.report-data {
    width: auto;
    th {
      font-weight: normal;
    }
    .highlight {
      background: #effafa;
      padding: 6px;
      font-weight: 600;
      font-size: 20px;
    }
  }
}
