<div ng-controller="JoyrideEncounterCtrl">
  <div ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()"  on-skip="onSkip()"></div>
</div>

<!-- Event view -->

<oe-patient-summary></oe-patient-summary>
<oe-patient-list></oe-patient-list>

<div class="container-fluid main" role="main">
  <div class="page-body">
    <oe-encounter></oe-encounter>
  </div>
</div>

<oe-error-validation class="validation-wrapper">
	<div class="error-validation">
		<span class="notification">!</span> Please ensure you have completed every form element before attempting to save details.
	</div>
</oe-error-validation>

<button class="btn btn-primary block--button col-xs-6" ng-click="save()" id="joyride-complete">Save</button>
<div class="patient-list-overlay"></div>

<button oe-hidden-button class="btn btn-lg primary-btn hidden-btn" ng-click="backToMenu()">Back to Menu</button>
