<div ng-controller="JoyrideEncounterCtrl">
  <div ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()"  on-skip="onSkip()"></div>
</div>

<!-- Event view -->

<oe-patient-summary></oe-patient-summary>
<oe-patient-list></oe-patient-list>

<div class="container-fluid main" role="main">
  <div class="page-body">
    <oe-encounter></oe-encounter>
    <button class="btn btn-primary block--button col-xs-6" ng-click="save()" id="joyride-complete">Save</button>
  </div>
</div>

<div class="patient-list-overlay"></div>
