<h2>Laser Event {{ event.createdAt | date:'dd/MM/yyyy @ h:mma' }}</h2>

<section class="">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Site</h3></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-2">Site:</div>
					<div class="col-xs-4">{{ event.site.label }}</div>
				</div>
				<div class="row">
					<div class="col-xs-2">Laser:</div>
					<div class="col-xs-4">{{ event.laser.label }}</div>
				</div>
				<div class="row">
					<div class="col-xs-2">Operater:</div>
					<div class="col-xs-4">{{ event.laserOperator.firstName }} {{ event.laserOperator.surname }}</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Treatment</h3></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="row" ng-if="event.rightEye.procedures && event.rightEye.procedures.length">
							<div class="col-xs-4">
								Procedures:
							</div>
							<div class="col-xs-8">
								<ul>
									<li ng-repeat="procedure in event.rightEye.procedures">
										{{procedure.label}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row" ng-if="event.leftEye.procedures && event.leftEye.procedures.length">
							<div class="col-xs-4">
								Procedures:
							</div>
							<div class="col-xs-8">
								<ul>
									<li ng-repeat="procedure in event.leftEye.procedures">
										{{procedure.label}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">Anterior Segment</h3></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<eyedraw data="event.rightEye.anteriorSegment.data" options="{{eyedraws.right.options}}" mode="{{mode}}"></eyedraw>
					</div>
					<div class="col-xs-6">
						<eyedraw data="event.leftEye.anteriorSegment.data" options="{{eyedraws.left.options}}" mode="{{mode}}"></eyedraw>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
