<h2>{{ event.name }}</h2>

<section class="element">
	<h3>Site</h3>
	<div class="row">
		<div class="col-xs-2">Site:</div>
		<div class="col-xs-4">{{ event.site }}</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Laser:</div>
		<div class="col-xs-4">{{ event.laser }}</div>
	</div>
	<div class="row">
		<div class="col-xs-2">Operater:</div>
		<div class="col-xs-4">{{ event.laserOperator }}</div>
	</div>
</section>

<section class="element" ng-if="eyedraws.right.data.length || eyedraws.left.data.length">
	<h3>Anterior Segment</h3>
	<div class="row">
		<div class="col-xs-6">
			<h4>Right eye</h4>
			<eyedraw data="eyedraws.right.data" options="{{eyedraws.right.options}}" mode="{{mode}}"></eyedraw>
		</div>
		<div class="col-xs-6">
			<h4>Left eye</h4>
			<eyedraw data="eyedraws.left.data" options="{{eyedraws.left.options}}" mode="{{mode}}"></eyedraw>
		</div>
	</div>
</section>
