<!-- Event view -->


<div class="btn-group pull-right">
	<button class="btn btn-primary" ng-click="save()">Save event</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>

<h2>Create laser event</h2>

<form class="form-horizontal">

	<section class="element">
		<h3>Site</h3>
		<lasersite selected-site="selectedSite" selected-laser="selectedLaser" selected-operator="selectedOperator"></lasersite>
	</section>

	<section class="element">
		<h3>Anterior Segment</h3>
		<div class="row">
			<div class="col-xs-6">
				<h4>Right eye</h4>
				<eyedraw data="eyedraws.right.data" options="{{eyedraws.right.options}}" mode="{{mode}}"></eyedraw>
			</div>
			<div class="col-xs-6">
				<h4>Left eye</h4>
				<eyedraw data="eyedraws.left.data" options="{{eyedraws.left.options}}" mode="{{mode}}"></eyedraw>
			</div>
		</div>
	</section>
</form>


