<!-- Event view -->


<div class="btn-group pull-right">
	<button class="btn btn-primary">Save event</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>

<h2>Create laser event</h2>

<form class="form-horizontal">

	<section class="element">
		<h3>Site</h3>
		<lasersite></lasersite>
	</section>

	<section class="element">
		<h3>Treatment</h3>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label for="procedure-right" class="col-xs-4 control-label">Procedures:</label>
					<div class="col-xs-8">
						<procedure-selection id="procedure-right" ng-model="procedures.right">
						</procedure-selection>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="procedure-left" class="col-xs-4 control-label">Procedures:</label>
					<div class="col-xs-8">
						<procedure-selection id="procedure-left" ng-model="procedures.left">
						</procedure-selection>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="element">
		<h3>Anterior Segment</h3>
		<div class="row">
			<div class="col-xs-6">
				<eyedraw data="eyedraws.right.data" options="{{eyedraws.right.options}}" mode="{{mode}}"></eyedraw>
			</div>
			<div class="col-xs-6">
				<eyedraw data="eyedraws.left.data" options="{{eyedraws.left.options}}" mode="{{mode}}"></eyedraw>
			</div>
		</div>
	</section>
</form>


