<div class="alert alert-danger" role="alert" ng-if="hasFormErrors()">
	<p><strong><span class="glyphicon glyphicon-info-sign"></span> There were errors submitting the form!</strong></p>
		<ul>
			<li ng-repeat="(rule, errors) in formErrors()" ng-if="errors.length">
				{{rule}}:
				<ul>
					<li ng-repeat="error in errors">
						<span ng-if="rule === 'required'">
							{{error.$name}} is required
						</span>
						<span ng-if="rule === 'pattern'">
							{{error.$name}} is not in the correct format
						</span>
						<span ng-if="rule === 'minlength'">
							{{error.$name}} is not long enough
						</span>
						<span ng-if="rule === 'maxlength'">
							{{error.$name}} is too long
						</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<form class="form-horizontal panel panel-default" novalidate name="{{formName}}" ng-submit="submit()">
	<div class="panel-body">

		<div class="form-group" oe-validate="name" oe-validate-class-name="has-error">
			<label for="name" class="control-label col-xs-2">Name</label>
			<div class="col-xs-4">
				<input
					name="name"
					type="text"
					ng-model="user.name"
					class="form-control"
					oe-validate-rules="validations.name"
					placeholder="Enter your name" />
				<oe-validate-msg name="name"></oe-validate-msg>
			</div>
		</div>

		<div class="form-group" oe-validate="location" oe-validate-class-name="has-error">
			<label for="location" class="control-label col-xs-2">Location</label>
			<div class="col-xs-4">
				<select id="location" name="location" class="form-control" ng-model="user.location" required>
					<option></option>
					<option>UK</option>
				</select>
				<oe-validate-msg name="location"></oe-validate-msg>
			</div>
		</div>

		<fieldset class="form-group" oe-validate="sex" oe-validate-class-name="has-error">
			<legend class="col-xs-2 control-label">Sex</legend>
			<div class="col-xs-4">
				<div class="radio">
					<label>
						<input name="sex" type="radio" value="male" ng-model="user.sex" ng-required="!user.sex" />
						Male
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="sex" type="radio" value="female" ng-model="user.sex" ng-required="!user.sex" />
						Female
					</label>
				</div>
				<oe-validate-msg name="sex"></oe-validate-msg>
			</div>
		</fieldset>

		<fieldset class="form-group" oe-validate="hobbies" oe-validate-class-name="has-error">
			<legend class="col-xs-2 control-label">Hobbies</legend>
			<div class="col-xs-4">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="hobbies" value="reading" ng-model="user.hobbies.reading"
						  />
						Reading
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="hobbies" value="writing" ng-model="user.hobbies.writing"
						/>
						Writing
					</label>
				</div>
				<oe-validate-msg name="hobbies"></oe-validate-msg>
			</div>
		</fieldset>


		<div class="form-group">
			<div class="col-xs-4 col-xs-offset-2">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>

<div class="panel panel-default">
	<div class="panel-body">
		<div>
			Data: {{user | json}}
		</div>
<!-- 		<div>
			Errors: {{form.$error | json}}
		</div> -->
	</div>
</div>
