

<div class="pres-wrapper">
  <div class="intro-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-section clearfix" id="intro-section">
          <h2>Introduction</h2>
          <p>The MEH Project Board asked us to evaluate the pros and cons of a temporary pause in new development work so that we can address some of the problems facing the product within its current architecture. Some of the primary issues are listed below, and you can rollover each one for more detail: </p>
          <ul class="intro-details hover-list">
            <li>Slow development speed <span class="hover-txt">The development team cannot scale up as <strong>modules are interdependent</strong></span></li>
            <li>Inefficient development <span class="hover-txt"><strong>Change in clinical workflows has widespread implications</strong>, making development inefficient</span></li>
            <li>Little configurability <span class="hover-txt">The solution is not easily configured to meet customers’ requirements, including Moorfields’ satellites</span></li>
            <li>Lack of integration with other systems <span class="hover-txt">Having the information that is needed in one place, such as imaging, is <strong>not currently possible</strong></span></li>
            <li>Difficult to deploy and to support <span class="hover-txt"><strong>Costly to configure, deploy and support</strong> in different clinical environments due to lack of configurability</span></li>
            <li>User experience is hindered by the architecture <span class="hover-txt">User journeys are not representative of behaviour as <strong>role based, patient centric workflows are not supported</strong></span></li>
          </ul>
          <p>We recommended a seven week Technical Proof of Concept (PoC) to prove or disprove five technical concepts which we believe could be key to the future of OpenEyes, and formulate platform migration options.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-section-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-section clearfix" id="tech-section">
          <h2>Architecture</h2>
          <p>The PoC architecture, which we believe is needed in order to address some of the problems faced by the OpenEyes development team, is made up of the following components:</p>
          <ul class="intro-details">
            <li>Application Frontend: built in AngularJS, which is a JavaScript framework maintained by Google. It has a very active user base for contributions and is set up to aid separation of concerns, so enables modularity.</li>
            <li>JVM Based Service Layer: XXX</li>
            <li>Document data store: YYY</li>


          <img src="/images/presentation/target-architecture.png" class="target-architecture"/>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-section-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-section clearfix" id="benefits-section">
          <h2>Benefits new architecture enables</h2>
          <dl>
            <dt>Scalability of the development team</dt>
            <dd>Enabled by a service layer architecture.</dd>

            <dt>Development speed</dt> 
            <dd>Increased by de-coupling modules of functionality and developing in Java based language JVM such as Scala; furthermore by Angular as a front-end.</dd>

            <dt>Workflow, Clinical scalability, Configurability and Deployment in multiple organisations</dt>
            <dd>The steps a patient must go through for their treatment, their workflow, is defined by user role, location and speciality. Configure clinic workflows using our Workflow API to reflect your organisation’s practises.</dd> 

            <dt>Modularity</dt>
            <dd>Workflows are built comprising of modular elements which can easily be added, ordered and removed.</dd>

            <dt>Integration</dt>
            <dd>The language choice XXX allows us to access integration libraries which enable the proof of concept to easily connect to other Moorfields systems.</dd>

            <dt>Platform scalability</dt>
            <dd>HTTP API, service layer architecture.</dd>

          </dl>
        </div>
      </div>
    </div>
  </div>

  

  <div class="sub-section-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-section clearfix" id="workflow-section">
          <h2>Workflow</h2>
          <p>We have demonstrated this architecture through a patient journey that is not well represented in OpenEyes today: a patient with Age Related Macular Degeneration.</p>

          <p>This patient accounts for 60% of patients at the Medical Retina Injection suite. Over the course of their care during a visit, the patient meets several different clinicians at the following steps:</p>

          <ul class="workflow-details">
            <li>Registration</li>
            <li>Vision Assessment</li>
            <li>OCT Scan</li>
            <li>Assessment for AMD</li>
            <li>Injection</li>
          </ul>

        </div>
      </div>
    </div>
  </div>



  <div class="sub-section-wrapper">
    <div class="form-group row">
      <div class="col-xs-12">
        <div class="sub-section last-section clearfix" id="try-section">
          <h2>Try it out</h2>

          <div class="clinic-location" >
            
            <div class="col-xs-7 clinic-controls clearfix" id="joyride-workflows">
              <p>Try a step in this workflow for a Medical Retina Injection Clinic</p>
              <div class="radio" ng-repeat="workflow in workflows">
                <label>
                  <input type="radio" ng-model="$parent.workflow" ng-value="workflow" />
                  At {{ workflow.site }}
                </label>
              </div>
            </div>
          </div>

          <div class="workflow-buttons clearfix">
            <a href="/#/patients/{{ workflow._id.$oid }}/{{ $index }}" id="workflow{{$index}}" ng-repeat="step in workflow.steps" class="btn btn-primary btn-lg workflow-btn"> Step {{$index +1}} - {{ step.name }} as a {{ step.role }}</a>
          </div>

          <div ng-controller="JoyrideMainCtrl" class="col-xs-12 guided-tour" >
            <div ng-joy-ride="startJoyRide" config="config" on-finish="onFinish()" on-skip="onSkip()">
              <oe-joyride-switch class="checkbox">
                <label class="check-box-label">
                  <input type="checkbox" ng-model="startJoyRide" name="joyrideSwitch" ng-change="SetJoyrideState(startJoyRide)">Select guided tour
                </label>
              </oe-joyride-switch>  
            </div>
          </div>
          <div>
            <a href=""class="btn btn-primary btn-lg api-btn">View the API</a>
          </div>
            
        
        </div>
      </div>
    </div>
  </div>
</div>

