<div class="row">
	<div class="col-md-3 col-xs-3">
		<h2>Actions</h2>
		<a href="/#/patient/{{ patient.id }}/event/create" class="btn btn-primary">Create laser event</a>
		<!-- <a href="/#/patient/{{ patient.id }}/events" class="btn btn-primary">View events</a> -->
		<h3>Events</h3>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="ev in events"><a href="/#/patient/{{ patientId }}/event/{{ ev._id.$oid }}">Laser Event {{ ev.createdAt | date:'dd/MM/yyyy @ h:mma' }}</a></li>
		</ul>
	</div>
	<div class="col-md-9 col-xs-9">
		<h2>Patient Details</h2>
		<p>First name(s): {{ patient.firstName}}</p>
		<p>Last name: {{ patient.surname }}</p>
		<p>Gender: {{ patient.gender }}</p>
	</div>
</div>
