<h2>Try it out</h2>

<div class="form-group row">
  <div class="col-xs-12">
    <div class="radio" ng-repeat="s in sites">
      <label>
        <input type="radio" ng-model="$parent.site" ng-value="s" />
        {{s.name}}
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well">
      <a href="/#/steps/{{ site._id.$oid }}/{{ $index }}/patients" ng-repeat="step in steps" class="btn btn-primary btn-lg btn-block">{{ step.label }}</a>
    </div>
  </div>
</div>

