<section class="element panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Anterior Segment</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <oe-anterior-segment data="data" data-side="rightEye" options="anterior" mode="{{mode}}"></oe-eyedraw>
      </div>
      <div class="col-xs-6">
        <oe-anterior-segment data="data" data-side="rightEye" options="anterior" mode="{{mode}}"></oe-eyedraw>
      </div>
    </div>
  </div>
</section>
