<section class="element panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Treatment</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group" oe-validate ng-class="{ 'has-error': hasError() }">
          <label for="procedure-right" class="col-xs-4 control-label">Procedures:</label>
          <div class="col-xs-8">
            <oe-procedure-selection data-id="procedure-right" data-side="rightEye" data-name="procedureRight"></oe-procedure-selection>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group" oe-validate ng-class="{ 'has-error': hasError() }">
          <label for="procedure-left" class="col-xs-4 control-label">Procedures:</label>
          <div class="col-xs-8">
            <oe-procedure-selection data-id="procedure-left" data-side="leftEye" data-name="procedureLeft"></oe-procedure-selection>
          </div>
      </div>
    </div>
  </div>
</section>
