<section class="element panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Treatment</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <procedure-selection data-id="procedure-right" data-side="rightEye" data-name="procedureRight" ng-model="procedures"></procedure-selection>
      </div>
      <div class="col-xs-6">
        <procedure-selection data-id="procedure-left" data-side="leftEye" data-name="procedureLeft" ng-model="procedures"></procedure-selection>
      </div>
    </div>
  </div>
</section>